.anchor-color{
    -fx-background-color: #7f8c8d;
}

.defaultButtonsColor{
    -fx-background-color: #576574;
    -fx-text-fill: white;
}

.defaultButtonsColor:hover{
    -fx-background-color: #2f3640;
}

.text-field{
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: #2c3e50;
    -fx-border-radius: 10px;
}

.radio-button{
    -fx-text-fill: #2c3e50;
}

.submit-button{
    -fx-background-color: #27ae60;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.submit-button:hover{
    -fx-background-color: green;
}

.table-view{
    -fx-background-color: transparent;
    -fx-border-color: rgba(0,0,0,0.2);
    -fx-background-insets: 0px, 0px;
    -fx-padding: 0;
}
.column-header{
    -fx-background-color: #778182;
    -fx-size: 40px;
    -fx-font-size: 14px;
}
.table-row-cell:empty{
    -fx-background-color: transparent;
}

#tblPayment .cell{
    -fx-wrap-text: true;
    -fx-text-fill: white;
    -fx-cell-size: 25px;
    -fx-alignment: center;
}

.table-cell:empty{
    -fx-border-color: transparent;
}

.table-row-cell:filled:odd{
    -fx-background-color: #636e72;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:filled:even{
    -fx-background-color: #57606f;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:filled:hover{
    -fx-background-color:  #778182;
    -fx-background-insets: 0px 1px 0px 1px;
    -fx-background-radius: 4px;
}

.table-row-cell:filled:selected{
    -fx-background-color: rgba(201, 201, 201, 0.71);
    -fx-background-insets: 0px 1px 0px 1px;
    -fx-background-radius: 4px;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.exit-button{
    -fx-background-color: red;
    -fx-text-fill: white;
}
.exit-button:hover{
    -fx-background-color: #c0392b;
}

.list-cell{
    -fx-background-color: #7f8c8d;
    -fx-text-fill: white;

}

.list-cell:filled:hover{
    -fx-background-color: #778182;
}