.anchor-color{
    -fx-background-color: #7f8c8d;
}

.button{
    -fx-background-color: #576574;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: #2f3640;
}

.list-view{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-view .list-cell{
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}

.list-row-cell:hover {
    -fx-background-color: #93f9b911;
}

.text-field{
    -fx-text-fill: white;
}
.search-course{
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-border-color: #2c3e50;
}


.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #bdc3c7;
}

.table-view .table-cell{
    -fx-padding: 2 0 2 10px;
    -fx-text-fill: white;
}

.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: red;
}
.table-row-cell:odd{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #95a5a6;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}
