.anchor-color{
    -fx-background-color: #7f8c8d;
}

.side-label{
    -fx-text-fill: #2c3e50;
    -fx-border-radius: 10px;
}
.side-label:hover{
    -fx-background-color: #576574;
    -fx-cursor: hand;
}
